section.lockup{
  font-family: "Europa";
  .flex-unit{
    flex: 1;
    background: black;
    color: white;
    h2{
      font-family: ;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      font-size: 20px;
    }
  }
}
