doctype html
html
  head
    link(rel="stylesheet",href="css/style.css",type="text/css")
    meta(charset='utf-8')
    title Home
    <script src="https://use.fontawesome.com/238d193d1b.js"></script>
    <script src="bower_components\jquery\dist\jquery.min.js"></script>
    <script src="js/script.js"></script>
    
  body
    nav.global.flex.flex--space-between.align-center
      .wrapper.flex.flex--space-between.rows.align-center
        h3 MUNI <span>EATS</span>
        .icons-flex.flex--center.align-center.rows
          <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
          <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
          <a href="www.google.com"><i class"fa fa-google"></i></a>
          <a href="www.google.com"><i class="fa fa-instagram"></i></a>
        
      
    header
      .side-header.flex.flex--center.align-end.columns
        .container
          h1.btm1 MUNI
          h3.btm1 EATS
    section.taste.flex.flex--center.align-center.columns
      .flex-box.flex.flex--center.align-center.columns
        h3 With <strong class="eats"> MUNI EATS</strong> you can <h3 class="taste"> taste</h3> 
        p.btm the best from the <span class="west"> west</strong>
      a.linker(href="mailto:munieats@gmail.comSubject=Placing%20Order" target="_top") Contact me
    section.footer.flex.flex--center.align-center.columns.txt-center
      p Hi my name is <strong class="ft"> aisha</strong>  for many years now i have been told to create a <strong class="ft"> catering service</strong> and i thought to myself there is no time like the present after asking all past
        <strong class="ft"> customers</strong> about their past expeireneces with my service they have given me the following  <strong class="ft">feedback....</strong>
